.logo {
  width: 200px;
  height: 90px;
}

nav {
  width: 200%;
  max-width: 200%;
  background-color: var(--background-dark);
}

.loading-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(#eeeeee, 0.95);
  z-index: 1001;
}
