.card {
  width: 20em;
  background-color: rgb(31, 31, 31);
}

.header-image {
  background-size: cover;
}

.container {
  padding-left: 15px;
  padding-bottom: 15px;
}

.artists-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.full-width{
  //width: 100%;
  background-color: #23232D;
  display: flex;
  flex-direction: column;
}

.no-data {
  margin-left: 30px;
}

button {
  background-color: rgb(82, 82, 93);
  color: white !important;
  margin-top: 10px;
}

button:hover {
  background-color: #A2A2AD; /* Green */
  color: white;
}

::ng-deep input.mat-input-element {
  color: white;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white !important;
}


